<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <img src="{{ user_image }}" alt="User Image">
    <a href="https://surfe.be/82148" target="_blank"><img src="https://static.surfe.be/images/banners/en/468x60_13.png" alt="Surfe.be - Banner advertising service"></a>
    <a href="https://surfe.be/82148" target="_blank"><img src="https://static.surfe.be/images/banners/en/728x90_13.png" alt="Surfe.be - Banner advertising service"></a>
    <a href="https://surfe.be/82148" target="_blank"><img src="https://static.surfe.be/images/banners/en/240x400_13.png" alt="Surfe.be - Banner advertising service"></a>
    <a href="https://surfe.be/82148" target="_blank"><img src="https://static.surfe.be/images/banners/en/300x250_13.png" alt="Surfe.be - Banner advertising service"></a>
</body>
</html>
